.eat-healthy-card {
  background-image: url("../images/EatHealthCard/star.png"),
    linear-gradient(180deg, #357355 0%, #1d483b 100%);
  background-repeat: no-repeat;
  background-position: center;
}
