$vegetables-img: url("../images/SubscribtionBanner/vegetables.png");
$salad-img: url("../images/SubscribtionBanner/salad.png");
$herb-img: url("../images/SubscribtionBanner/herb.png");

.subscribtion-banner {
  background-image: $vegetables-img, $salad-img;
  background-repeat: no-repeat;
  background-position: bottom left, bottom right;
  background-size: 200px, 130px;

  @media (min-width: 700px) {
    background-image: $vegetables-img, $salad-img, $herb-img;
    background-position: bottom left, bottom right, bottom 90px right 17%;
    background-size: 250px, 160px, 65px;
  }

  @media (min-width: 1000px) {
    background-position: bottom left, bottom right, bottom 100px right 20%;
    background-size: auto;
  }
}
