.chef-questions {
  li {
    margin-bottom: 3rem;

    h2 {
      font-size: 600;
      font-size: 21px;
      margin-bottom: 0.75rem;
      font-weight: 700;
      letter-spacing: -0.96px;
      line-height: 28px;
    }

    p {
      font-size: 15px;
      color: rgba(0, 0, 0, 0.6);
    }
  }
}

@media (min-width: 768px) {
  .chef-questions {
    li {
      margin-bottom: 4rem;

      h2 {
        margin-bottom: 1rem;
      }
    }
  }
}
