.hero__container {
  background-image: url("../images/Shared/Foods/tomato.png"),
    url("../images/Shared/Foods/steak.png"),
    url("../images/Shared/Foods/cabbage.png");
  background-repeat: no-repeat;
  background-position: bottom 45px right 80px, bottom 110px right 15px,
    top 50px right 30px;
  background-size: 40px, 70px, 55px;
}

@media (min-width: 640px) {
  .hero__container {
    background-image: url("../images/Shared/Foods/tomato.png"),
      url("../images/Shared/Foods/steak.png"),
      url("../images/Shared/Foods/cabbage.png"),
      url("../images/Shared/Foods/onion.png");
    background-position: bottom 130px right 80px, top 70px right 50px,
      bottom 150px left 60px, top 160px left 90px;
    background-size: auto, 80px, 55px, 50px;
  }
}

@media (min-width: 768px) {
  .hero__container {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 0.8fr;

    background-image: none;
  }
}

@media (min-width: 1030px) {
  .hero__container {
    grid-template-columns: 1fr 1.1fr;
  }
}
