@use "../utils" as utils;

.recipe-grid {
  @include utils.grid-center;
  grid-template-columns: minmax(9rem, 19rem);
  column-gap: 2rem;
  row-gap: 1rem;
  grid-auto-rows: 1fr;
}

@media (min-width: 500px) {
  .recipe-grid {
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  }
}

@media (min-width: 900px) {
  .recipe-grid {
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    row-gap: 2.5rem;
    column-gap: clamp(2.5rem, 5vw + 1rem, 7rem);
  }
}
