@use "./utils";
@use "./fonts";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .padding-x {
    @apply px-[1.3rem] sm:px-[calc(4vw+1rem)] lg:px-[5rem];
  }
  .social-link {
    @apply cursor-pointer transition-colors duration-200 hover:text-accent-pink-500;
  }
}

body {
  font-family: "Inter", sans-serif;
}

@mixin grid-center {
  display: grid;
  justify-content: center;
  align-items: center;
}

/* NAVIGATION and MOBILE MENU */
.primary-nav {
  transition: transform 400ms ease-in-out;
}

.mobile-menu {
  display: block;
  right: 2rem;
  border: none;
  background: transparent;
  cursor: pointer;
  order: 2;
  padding: 5px;
}

.hamburger {
  position: relative;

  &::before {
    bottom: 6px;
  }

  &::after {
    top: 6px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
  }
}

.hamburger,
.hamburger::before,
.hamburger::after {
  width: 1.7rem;
  height: 2px;
  background-color: black;
  transition: transform 350ms ease-in-out, opacity 200ms linear;
}

.mobile-menu.active .hamburger {
  transform: rotate(45deg);

  &::before {
    opacity: 0;
  }

  &::after {
    transform: rotate(90deg) translate(-6px);
  }
}

/* HERO SECTION */
.hero__container {
  background-image: url("../images/Shared/Foods/tomato.png"),
    url("../images/Shared/Foods/steak.png"),
    url("../images/Shared/Foods/cabbage.png");
  background-repeat: no-repeat;
  background-position: bottom 45px right 80px, bottom 110px right 15px,
    top 50px right 30px;
  background-size: 40px, 70px, 55px;
}

@media (min-width: 640px) {
  .hero__container {
    background-image: url("../images/Shared/Foods/tomato.png"),
      url("../images/Shared/Foods/steak.png"),
      url("../images/Shared/Foods/cabbage.png"),
      url("../images/Shared/Foods/onion.png");
    background-position: bottom 130px right 80px, top 70px right 50px,
      bottom 150px left 60px, top 160px left 90px;
    background-size: auto, 80px, 55px, 50px;
  }
}

@media (min-width: 768px) {
  .hero__container {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 0.8fr;

    background-image: none;
  }
}

@media (min-width: 1030px) {
  .hero__container {
    grid-template-columns: 1fr 1.1fr;
  }
}

/* RECIPE GRID */
.recipe-grid {
  @include grid-center;
  grid-template-columns: minmax(9rem, 19rem);
  column-gap: 2rem;
  row-gap: 1rem;
  grid-auto-rows: 1fr;
}

@media (min-width: 500px) {
  .recipe-grid {
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  }
}

@media (min-width: 900px) {
  .recipe-grid {
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    row-gap: 2.5rem;
    column-gap: clamp(2.5rem, 5vw + 1rem, 7rem);
  }
}

/* CHEF CTA */
.chef-cta {
  position: relative;
}

.chef-cta-img-container {
  background-image: linear-gradient(
    180deg,
    rgba(231, 249, 253, 0) 0%,
    #e7f9fd 100%
  );
  border-radius: 2rem;
  height: 100%;
  width: 100%;

  div {
    position: absolute;
    bottom: -5px;
    right: 4%;
    height: 55%;
    aspect-ratio: 1;
    z-index: -1;

    background-image: url("../images/Shared/Foods/tomato.png"),
      url("../images/Shared/Foods/onion.png");
    background-repeat: no-repeat;
    background-position: left 20px top 30px, left bottom 20px;
    background-size: 32px, 35px;
  }

  img {
    height: 100%;
  }
}

@media (min-width: 500px) {
  .chef-cta-img-container div {
    bottom: -25px;
    right: 10%;
    height: 75%;
  }
}

@media (min-width: 800px) {
  .chef-cta {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    position: static;
  }

  .chef-cta-img-container {
    position: relative;
  }

  .chef-cta-img-container div {
    left: 50%;
    transform: translateX(-55%);
    height: 135%;
    bottom: 0;
    right: 0;
    background-image: url("../images/Shared/Foods/tomato.png"),
      url("../images/Shared/Foods/steak.png"),
      url("../images/Shared/Foods/onion.png"),
      url("../images/Shared/Foods/cabbage.png");
    background-position: left 10px bottom 120px, left 60px top 75px,
      right 70px top 80px, right 10px top 140px;
    background-size: 40px, 65px, 40px, 50px;
    z-index: 2;
  }
}

@media (min-width: 1200px) {
  .chef-cta-img-container div {
    transform: translateX(-65%);
    height: 167%;
    background-position: left 10px bottom 120px, left 60px top 85px,
      right 100px top 120px, right top 200px;
  }
}

/* ADDITIONAL RECIPES */
.additional-recipes-grid {
  @include grid-center;
  grid-template-columns: minmax(9rem, 19rem);
  column-gap: 2rem;
  row-gap: 1.5rem;
  grid-auto-rows: 1fr;
}

@media (min-width: 500px) {
  .additional-recipes-grid {
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  }
}

@media (min-width: 1000px) {
  .additional-recipes-grid {
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
  }
}

/* SUBSCRIBTION BANNER */
.subscribtion-banner {
  background-image: url("../images/SubscribtionBanner/vegetables.png"),
    url("../images/SubscribtionBanner/salad.png");
  background-repeat: no-repeat;
  background-position: bottom left, bottom right;
  background-size: 200px, 130px;
}

@media (min-width: 700px) {
  .subscribtion-banner {
    background-image: url("../images/SubscribtionBanner/vegetables.png"),
      url("../images/SubscribtionBanner/salad.png"),
      url("../images/SubscribtionBanner/herb.png");
    background-position: bottom left, bottom right, bottom 90px right 17%;
    background-size: 250px, 160px, 65px;
  }
}

@media (min-width: 1000px) {
  .subscribtion-banner {
    background-position: bottom left, bottom right, bottom 100px right 20%;
    background-size: auto;
  }
}

@media (min-width: 768px) {
  /* FOOTER */
  .footer-grid {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: ". text links";
  }

  /* RECIPE INFO DETAILS */
  .recipe-info-details > * {
    padding-right: 2rem;

    &:not(:first-child) {
      padding-left: 2rem;
    }

    &:not(:last-child) {
      border-right: rgba(0, 0, 0, 0.1) 1px solid;
    }
  }
}

/* EAT HEALTHY CARD */
.eat-healthy-card {
  background-image: url("../images/EatHealthCard/star.png"),
    linear-gradient(180deg, #357355 0%, #1d483b 100%);
  background-repeat: no-repeat;
  background-position: center;
}

/* INGREDIENT INFO */
.ingredient-info {
  li {
    display: flex;
    justify-content: space-between;
    padding-block: 0.6rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    align-items: center;
    color: rgba(0, 0, 0, 0.6);

    span {
      color: black;
      font-weight: 500;
    }
  }
}

/* SUCCESS MESSAGE */
.success-message {
  transform: translateX(-80rem);
  opacity: 0;
  transition: transform 400ms ease-in, opacity 400ms ease-in;

  &.active {
    transform: translateX(0);
    animation: fade-out 2s ease-in-out;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* CONTACT FORM */
.contact-form {
  font-size: 15px;

  label {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: rgba(0, 0, 0, 0.6);
    font-size: 13px;
    margin-bottom: 1rem;
  }

  input,
  textarea,
  .dropdown__options,
  .dropdown__label {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    padding-inline: 1.5rem;
    padding-block: 1rem;
    color: black;
  }
}

/* CONTACT US and CONTACT FORM */
@media (min-width: 768px) {
  .contact-form label {
    margin-bottom: 0;
  }

  .contact-form__inputs-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    column-gap: 2rem;
    row-gap: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

//tablet
@media (max-width: 1024px) {
  .contact-us {
    max-width: 840px;
    margin-inline: auto;
  }
}

@media (min-width: 1024px) {
  .contact-us {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-content: space-between;
    gap: clamp(2rem, 3.5vw + 1rem, 5rem);
  }
}

/* COCKTAIL CARD */
@media (min-width: 450px) {
  .cocktail-card {
    display: grid;
    grid-template-columns: minmax(150px, 235px) 1fr;
    gap: 1.25rem;
    background-image: none;
  }
}

@media (min-width: 1150px) {
  .cocktail-card {
    grid-template-columns: minmax(180px, 270px) 1fr;
  }
}

/* CHEF QUESTIONS */
.chef-questions {
  li {
    margin-bottom: 3rem;

    h2 {
      font-size: 600;
      font-size: 21px;
      margin-bottom: 0.75rem;
      font-weight: 700;
      letter-spacing: -0.96px;
      line-height: 28px;
    }

    p {
      font-size: 15px;
      color: rgba(0, 0, 0, 0.6);
    }
  }
}

@media (min-width: 768px) {
  .chef-questions {
    li {
      margin-bottom: 4rem;

      h2 {
        margin-bottom: 1rem;
      }
    }
  }
}
