.overflow-x-hidden {
  overflow-x: hidden;
}

.max-width {
  max-width: 100rem;
  margin-inline: auto;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-center-between {
  display: grid;
  align-items: center;
  justify-content: space-between;
}

/* CIRCULAR CHECKBOXES */
.circular-checkbox-container {
  display: flex;
  align-items: center;

  label {
    cursor: pointer;
    display: flex;
    align-items: center;

    &::before {
      content: "";
      width: 1em;
      height: 1em;
      border: 1px solid #dbe2e5;
      border-radius: 999px;
      margin-right: 0.5rem;
    }
  }

  input[type="checkbox"] {
    cursor: pointer;
    /*
      so that screen readers still know that these checkboxes are here
    */
    opacity: 0;
    position: absolute;
  }

  input[type="checkbox"]:checked + label::before {
    background-color: black;
    border-color: black;
  }

  //for tabbing through
  input[type="checkbox"]:focus + label::before {
    box-shadow: 0 0 10px rgb(210, 208, 208);
  }
}

@mixin grid-center {
  display: grid;
  justify-content: center;
  align-items: center;
}
